{# templates/event/_form.html.twig #}

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}

<div class="form-group">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.nom) }}
</div>

<div class="form-group">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.description) }}
</div>

<div class="form-group">
    {{ form_label(form.image) }}
    {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
    {{ form_errors(form.image) }}
</div>

<div class="form-group">
    {{ form_label(form.lieu) }}
    {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.lieu) }}
</div>

<div class="form-group">
    {{ form_label(form.date) }}
    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.date) }}
</div>

<button type="submit" class="btn btn-primary">Enregistrer</button>

{{ form_end(form) }}
