{% extends 'base.html.twig' %}

{% block navbar %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <!-- Form -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <!-- Welcome Text inside the container -->
                            <div class="welcome-text text-center mb-4">
                                <h2 style="color: green;">Welcome to FitConnect</h2>
                                <p class="small">Login to Your Account</p>
                            </div>

                            <!-- Login Form -->
                            <form class="row g-3 needs-validation" novalidate method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                {% if app.user %}
                                    <div class="mb-3"></div>
                                {% endif %}
                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Email</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                        <div class="invalid-feedback">Please enter your email.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>
                                {# Add ReCaptcha v2 widget #}
                                <div class="col-12">
                                    <div class="g-recaptcha" data-sitekey="{{ '6LfRCo4pAAAAAMn8NGsoE0BNkwnDrv2Q9VnawfXm' }}"></div>
                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Don't have an account? <a href="{{ path('registration') }}">Create an account</a></p>
                                </div>
                                <div class="col-12">
                                    <p class="small mb-0">Forgot Password? <a href="{{ path('app_forgot_password_request') }}">reset password</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>
{% endblock %}
