{% extends 'base.html.twig' %}

{% block navbar %}

{% endblock %}

{% block footer %}
{% endblock %}


{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
            
                <div class="card-header">
                    Créer un compte
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

                    <div class="form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'autofocus': true}}) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.password.first, 'Mot de passe') }}
                        <div class="input-group">
                            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'id': 'inputPassword'}}) }}
                            <button class="btn btn-outline-secondary" type="button" id="togglePassword">Show</button>
                        </div>
                        {{ form_errors(form.password.first) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.password.second, 'Confirmation du mot de passe') }}
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.password.second) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.prenom) }}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.prenom) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.tel) }}
                        {{ form_widget(form.tel, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.tel) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.image, 'Image de profil (optionnel)') }}
                        {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
                        {{ form_errors(form.image) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('input').focus();
    });
</script>
{% endblock %}
