{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="form-group">
    {{ form_label(form.nom) }}
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}
</div>

<div class="form-group">
    {{ form_label(form.prix) }}
    {{ form_widget(form.prix) }}
    {{ form_errors(form.prix) }}
</div>


<style>
.custom-file-upload .custom-file label {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.custom-file-upload .custom-file .file-name {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
</style>
<div class="form-group custom-file-upload">
    {{ form_label(form.image) }}
    <div class="input-group">
        <div class="custom-file">
            {{ form_widget(form.image, {'attr': {'style': 'display:none;', 'onchange': 'previewImage(event)'}}) }}
            <label for="{{ form.image.vars.id }}" class="btn btn-primary">Choose file</label>
        </div>
        {{ form_errors(form.image) }}
    </div>
    <img id="imagePreview" src="" alt="Image preview" style="max-width: 200px; max-height: 200px; display: none;"/>
</div>
<script>
function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function(){
        const output = document.getElementById('imagePreview');
        output.src = reader.result;
        output.style.display = 'block'; // Make the image visible
    };
    reader.readAsDataURL(event.target.files[0]);
}
</script>
{# <div class="form-group">
    {{ form_label(form.user) }}
    {{ form_widget(form.user) }}
    {{ form_errors(form.user) }}
</div> #}
<div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category) }}
    {{ form_errors(form.category) }}
</div>
{{ form_widget(form.save) }}

{{ form_end(form) }}
